CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_ENABLE_COAP=y
CONFIG_ESP8266_NMI_WDT=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_TASK_WDT=n
CONFIG_HTTP_BUF_SIZE=1024
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_LWIP_LOCAL_HOSTNAME="ESP Clock"
CONFIG_NEWLIB_NANO_FORMAT=n
CONFIG_MAIN_TASK_STACK_SIZE=8192
CONFIG_TASK_WDT=n